section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 1.1em;
  background-color: lightgray;

  .card {
    transition: left 0.4s ease-out, opacity 0.2s ease-out;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 30px;
    left: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    opacity: 0;

    .card-img {
      flex: 0 0 400px;
      height: 100%;
      align-self: flex-start;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: space-around;
      background-color: transparent;
      max-width: 100%;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
    .description,
    .currentstep-container {
      flex: 1 1 300px;
      width: 100%;
      align-self: flex-end;
      padding: 1em;
      background-color: white;
      padding: 1em;
    }

    .currentstep-container {
      flex: 1 1 100px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;

      > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        flex: 1 1 50%;
        margin-bottom: 1em;
      }
    }
    .currentstep-container > div:nth-child(2) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
    .step {
      align-self: flex-start;
      width: 6px;
      height: 6px;
      border-radius: 4px;
      background-color: darkgrey;
      margin-right: 0.3em;
    }
    .step.currentstep {
      width: 18px;
      background-color: black;
    }
    button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      font-weight: bold;
    }
    #back {
      background-color: white;
      border: 1px solid black;
      align-content: flex-start;
    }
    #next {
      background-color: black;
      color: white;
      border: none;
      margin-left: 0.5em;
    }
  }
  .card.left {
    left: -100%;
    opacity: 0;
  }
  .card.currentstep {
    opacity: 1;
    left: 0;
  }
  @media screen and (min-width: 576px) {
    .card {
      top: 10vh;
      height: 80vh;
      width: 80%;
      margin-left: 10%;
      font-size: 1.1em;
    }
  }
  @media screen and (min-width: 768px) {
    .card {
      font-size: 1.2em;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 1.3em;
    @media screen and (orientation: landscape) {
      .card {
        flex-flow: row nowrap;
        .description {
          height: 100%;
        }
        .currentstep-container {
          height: 100%;
        }
      }
    }
  }

  @media screen and (min-width: 920px) {
    .card {
      flex-flow: column wrap;
      justify-content: flex-start;
      .card-img {
        min-height: 100%;
      }
      .description {
        height: 70%;
        width: 50%;
      }
      .currentstep-container {
        height: 30%;
        width: 50%;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .card, .card.currentstep {
      width: 100%;
      height: 50vh;
      top: 25vh;
      margin-left: 0;
    }
    
  }
}
