section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-sizing: border-box;
  margin: 10vh auto 0;
  position: relative;
  width: 15%;
  height: 700px;

  .card {
    transition: left 0.4s ease-out, opacity 0.2s ease-out;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    overflow: hidden;
    opacity: 0;

    .card-img {
      flex: 0 0 400px;
      align-self: flex-start;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      background-color: transparent;
      img {
        max-width: 100%;
      }
    }
    .description,
    .currentstep-container {
      flex: 1 1 300px;
      align-self: flex-end;
      padding: 1em;
      background-color: white;
      padding: 1em;
    }

    .currentstep-container {
      flex: 1 1 100px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;

      > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        flex: 1 1 50%;
        margin-bottom: 1em;
      }
    }
    .currentstep-container > div:nth-child(2) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
    .step {
      align-self: flex-start;
      width: 6px;
      height: 6px;
      border-radius: 4px;
      background-color: darkgrey;
      margin-right: 0.3em;
    }
    .step.currentstep {
      width: 18px;
      background-color: black;
    }
    button {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      font-weight: bold;
    }
    #back {
      background-color: white;
      border: 1px solid black;
      align-content: flex-start;
    }
    #next {
      background-color: black;
      color: white;
      border: none;
      margin-left: 0.5em;
    }
  }
  .card.left{
left: -100%;
opacity: 0;
  }
  .card.currentstep {
    opacity: 1;
    left: 0;
  }
}
