<section>
  @for(step of steps;track $index){ 

  <div class="card"[ngClass]="$index === currentStep() ? 'currentstep' : $index < currentStep() ? 'left step' : 'middle step'" [style.background-color]="step.bgcolor">
    <div class="card-img">
      <img [src]="step.img" alt="step.title" />
    </div>
    <div class="description">
      <h3>{{ step.title }}</h3>
      {{ step.descripcion }}
    </div>
    <div class="currentstep-container">
      <div>
        @for(step of steps;track $index){
        <div
          [ngClass]="$index === currentStep() ? 'currentstep' : 'step'"
          class="step"
        ></div>
        }
      </div>
      <div>
        @if(currentStep() >0){<button id="back" (click)="changeCurrentStep(-1)">◀</button>}
        @if(currentStep() <steps.length-1){<button id="next" (click)="changeCurrentStep(1)">▶</button>}
      </div>
    </div>
  </div>
   }
</section>
